<div class="main">
<div class="container">


<div class="movies">   
    <% @movies.each do |movie| %>
    <div class="row">
      <div class="movie-container col-md-8">
        <div class="movie">
       
          <div class="logo-thumbnail col-xs-3">
          	<img src="<%= movie.image.url %>" height="160" width="160">
          </div>

          <div class="col-xs-9">
          	<h3><%= link_to "#{movie.title}", movie_by_title_path(movie.title) %></h3>
          	<p>Rating | <%= "#{movie.rating}" %></p>
          	<p>Runtime | <%= "#{movie.runtime} minutes" %></p>
          	<p>Showtimes   
          	<% movie.showings.each do |showing| %>
              <% if showing.avail_seats > 0 %>
          	   <%= link_to " | #{showing.showtime.strftime("%l:%M %p")}  ", new_by_showing_path(showing.id) %>
               <% else %>
                <%= " | #{showing.showtime.strftime("%l:%M %p")}" %>
          	   <%end%>
            <%end%>
          	</p>
          	
      
        </div>
      </div>
    </div>
    <%end%>
  </div>