<h1>Theaters</h1>

<div class="container">
<table class="auditorium-table table table-striped table-hover">
  <thead>
    <tr>
      <th>Auditorium</th>
      <th>Capacity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auditoria.each do |auditorium| %>
      <tr>
        <td><%= auditorium.id %></td>
        <td><%= auditorium.capacity %></td>
        <td><%= link_to 'Edit', edit_auditorium_path(auditorium) %></td>
        <td><%= link_to 'Destroy', auditorium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Auditorium', new_auditorium_path %>
</div>