<h1>Order History</h1>

<table>
  <thead>
    <tr>
      <th>Cust last</th>
      <th>Cust first</th>
      <th>Cust email</th>
      <th>Showing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.cust_last %></td>
        <td><%= order.cust_first %></td>
        <td><%= order.cust_email %></td>
        <td><%= order.showing %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
