<h1>Purchase Ticket</h1>

<div class="movies">
    <div class="row">
      <div class="movie-container col-md-4">
        <div class="movie">
          <div class="movie-header row">

          <div class="logo-thumbnail col-xs-3">
          	<%= image_tag(movie image) %>
          </div>

          <div class="col-xs-9">
          	<h3><%= link_to "#{movie.title}" movie_by_name_path(title:  movie.title) %></h3>
          	<p>Rating <%= @movie.rating %></p>
          	<p>Runtime <%= @movie.runtime %></p>
          	<p>Showtime <%= @movie.showing.showtime %></p>
         </div>
         </div>


        </div>
      </div>
    </div>
  </div>

<%= render 'form', order: @order %>