<h1>Purchase Ticket</h1>

<div class="container">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Panel primary</h3>
  </div>
  <div class="panel-body">
      <div class="row">
      <div class="movie-container col-md-8">
        <div class="movie">
       
          <div class="logo-thumbnail col-xs-3">
            <img src="https://pixabay.com/static/uploads/photo/2015/01/11/09/21/film-596011_960_720.png" height="160" width="160">
          </div>

          <div class="col-xs-9">
            <h3><%= link_to "#{@movie.title}", movie_by_title_path(@movie.title) %></h3>
            <p>Rating | <%= "#{@movie.rating}" %></p>
            <p>Runtime | <%= "#{@movie.runtime} minutes" %></p>
            <p>Showtime |  
            <%= @showing.showtime.strftime("%l:%M %p") %>
            </p>
            
      
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
   
  


  <% if @showing.avail_seats > 0 %>

<%= render 'form', order: @order %>

<% else %>
  <p>Unfortunately this showing is all sold out. Please check another showing!</p>
  <%end%>
